@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: #a4907c;
    color: #fff;
}

.containerApp{
    max-width: 800px;
    margin: 30px auto;
}

.imagesContainer{
    position: relative;
}


.imagesContainer img, .imagesContainer{
    width: 100%;
    border: 2px solid #fff;
    border-radius: 6px;
}


.imagesContainer .backImage{
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}

.imagesContainer .frondImage{
    transform: rotateY(0deg);
    transition: all ease-in 0.2s;
}

.rotated .backImage{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.rotated .frondImage{
    transform: rotateY(90deg);
    transition-delay: 0.2s;
}

.imagesContainer img:last-child {
    cursor: pointer;
}

.cardsContainer{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap:10px;
   margin-top: 10px;
}
